*{margin: 0; padding: 0;}

.top a.logo {
    background: #be8115;
    padding: 23px 28px;
    border-radius: 9px;
}

.banner a.btnBanner {
    background: #be8115;
    border-color: #bf8217;
    font-size:  20px;
    padding: 14px 30px;
}

.banner p {
    padding-top: 3%;
    color: #f8f9fa57;
}

.banner h1 {
    font-size:  48px;
    position:  relative;
}

.banner h1:after {
    content: '';
    width: 105px;
    height: 8px;
    background: #ffa500a6;
    display:  block;
    position:  absolute;
    border-radius: 8px;
    left: 50%;
    margin-left: -50px;
    margin-top: 11px;
}

.menuTrenTrai a {
    margin: 51px;
    font-size: 18px;
    text-decoration:  none;
    color: #f5f5f5b0;
}
html,body {
    width: 100%;
    height: 100%;
}
.top {
    width: 100%;
    height: 100%;
    background: url(images/1.jpg);
    background-size: cover;
}
.banner {
    margin: auto;
    text-align:  center;
    padding-top: 13%;
    color: #f8f9fab3;
    font-family: 'Open San', sans-serif;
}
.menuTren {
    background-color: transparent;
    padding: 0px 38px 0px;
    border-bottom: 1px solid gray;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    position:  absolute;
    right:  0px;
} 